.background-circle-effect {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMDAgNTAnIHdpZHRoPScxMDAnIGhlaWdodD0nNTAnPjxjaXJjbGUgY2xhc3M9J2NpcmNsZScgZmlsbD0nd2hpdGUnIGN4PSc1MCcgY3k9Jy02MCcgcj0nMTAwJy8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
}

.blog-content {
  h2 {
    font-size: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h3 {
    font-size: 1.25em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
  h4 {
    font-size: 1.15em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  h5 {
    font-size: 1.05em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  p,
  ul,
  ol,
  blockquote {
    font-size: 1.0625em;
    margin-top: 0;
    margin-bottom: 1em;
  }

  p {
    min-height: 1.25em;
  }

  ul,
  ol {
    padding-left: 30px;
  }
  ol li,
  ul li {
    margin-top: 0;
    margin-bottom: 0.3em;
  }

  p:last-child,
  ul:last-child,
  ol:last-child,
  blockquote:last-child,
  ul li:last-child,
  ol li:last-child {
    margin-bottom: 0 !important;
  }
}
