.background-circle-effect {
  background-color: #ecf3fa;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMDAgNTAnIHdpZHRoPScxMDAnIGhlaWdodD0nNTAnPjxjaXJjbGUgY2xhc3M9J2NpcmNsZScgZmlsbD0nd2hpdGUnIGN4PSc1MCcgY3k9Jy02MCcgcj0nMTAwJy8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
}
